<!DOCTYPE html>
<script src="/javascripts/jquery-1.12.3.min.js"></script>
<script src="/javascripts/decaycalc.js"></script>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<%include templates/header.ejs%>
    <h1><%=title%></h1>
    <p>ETF Decay Calculator is on the way....</p>
    
    <table>
    	<tr>
    		<td>
    			 <label for="symbol">Symbol:</label>
    		</td>
    		<td>
    			 <select id="symbolSelect" onchange="decayCalculation()">
    			 	  <option value=""></option>
    			 	<% etfs.forEach(function(oneETF){ %>
					  <option value="<%= oneETF.symbol %>"><%= oneETF.symbol %></option>
					<% }); %>
				</select>
    		</td>
    	</tr>
    	
    	<tr>
    		<td>
    			 <label for="fromDate">From Date:</label>
    		</td>
    		<td>
    			 <input type="date" id="fromDate"  onchange="decayCalculation()">
    		</td>
    	</tr>
    	
    	<tr>
    		<td>
    			 <label for="toDate">To Date:</label>
    		</td>
    		<td>
    			 <input type="date" id="toDate" onchange="decayCalculation()">
    		</td>
    	</tr>
    	
    	<tr>
    		<td>
    			 <label for="result">Result:</label>
    		</td>
    		<td id="result">
    			 
    		</td>
    	</tr>
    
    <table>

  </body>
</html>