body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  padding-bottom: 25px;
}

a {
  color: #00B7FF;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}


table #tab_companies{
  width: 100%;
}

.LockOff { 
	display: none; 
    visibility: hidden; 
} 

.LockOn { 
	display: block; 
	visibility: visible; 
	position: absolute; 
	z-index: 999; 
	top: 0px; 
	left: 0px; 
	width: 105%; 
	height: 105%; 
	background-color: #ccc; 
	text-align: center; 
	padding-top: 20%; 
	filter: alpha(opacity=75); 
	opacity: 0.75; 
} 